include requirements*.txt
exclude .github/**
exclude .vscode/**
exclude data/**
exclude docs/**
exclude examples/**
exclude models/**
exclude notebooks/**
exclude results/**
exclude scripts/**
exclude templates/**
exclude tests/**
exclude __init__.py
exclude .editorconfig
exclude .env.example
exclude .gitignore
exclude .gitsubmodules
exclude .markdownlint.json
exclude .DS_Store
exclude CHANGELOG.md
exclude environment.yml
exclude Makefile
exclude MANIFEST.in
exclude mkdocs.yml
exclude pytest.ini
exclude Thumbs.db
